// ===================
// button 1
// ===================
.button-1 {
    background: map.get($theme-colors, "secondary");
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 100px;
    color: map.get($theme-colors, "white");
    width: 10rem;
    text-align: center;
    box-shadow: -5px 5px 5px rgba(0,0,0,.2);

    &.default {
        padding: .5rem 1rem;
    }
    &.full {
        width: 100%;
        padding: .5rem;
    }
    &.half {
        width: 50%;
        padding: .5rem;
    }
}

.button-1:hover {
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "accent");
    transform: scale(.97);

    @include transition-ease;
}
// ===================
// button 2
// ===================
.button-2 {
    background: none;
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 100px;
    color: map.get($theme-colors, "secondary");
    width: 10rem;
    text-align: center;

    &.default {
        padding: .5rem 1rem;
    }
    &.full {
        width: 100%;
        padding: .5rem;
    }
    &.half {
        width: 50%;
        padding: .5rem;
    }
}
.button-2:hover {
    background: map.get($theme-colors, "secondary");
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "accent");
    box-shadow: -5px 5px 5px rgba(0,0,0,.2);

    @include transition-ease;
}
// ===================
// button 3
// ===================
.button-3 {
  background-color: map.get($theme-colors, "accent");
  color: map.get($theme-colors, "black");
  border-radius: 100px;
  width: 10rem;
  text-align: center;
  box-shadow: -5px 5px 5px rgba(0,0,0,.2);

  &.default {
    padding: .5rem 1rem;
  }
  &.full {
    width: 100%;
    padding: .5rem;
  }
  &.half {
    width: 50%;
    padding: .5rem;
  }
}
.button-3:hover {
  cursor: pointer;
  color: map.get($theme-colors, "secondary");
  transform: scale(.97);
  @include transition-ease;
}
// ===================
// button 4
// ===================
.button-4 {
  background-color: map.get($theme-colors, "accent");
  border: 5px solid map.get($theme-colors, "accent");
  color: map.get($theme-colors, "white");
  border-radius: 100px;
  width: 10rem;
  text-align: center;
  box-shadow: -3px 3px 3px rgba(0,0,0,.2);

  &.default {
    padding: .25rem 2rem;
  }
  &.full {
    width: 100%;
    padding: .5rem;
  }
  &.half {
    width: 50%;
    padding: .5rem;
  }
}
.button-4:hover {
  cursor: pointer;
  color: map.get($theme-colors, "black") !important;
  @include transition-ease;
}